body {
margin: 0;
padding: 0;
display: flex;
justify-content: center;
align-items: center;
background-color: #1e1e1e;
}


canvas {
background-color: #282c34;
border: 3px solid #555;
border-radius: 10px;
}
